{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area - Masonry grid --}}
<main id="content" class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="featured">
                <h3 class="title">Featured</h3>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {{#get "posts" filter="featured:true"}}
                            {{#foreach posts}}
                                <div class="swiper-slide">
                                    {{> "loop"}}
                                </div>
                            {{/foreach}} 
                        {{/get}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{#get "posts" filter="featured:true"}}
    {{#foreach posts}}
        {{> "loop"}}
    {{/foreach}} 
{{/get}}