{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area - Masonry grid --}}
<main id="content" role="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="name">{{tag.name}}</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="loop-medium">
					{{#foreach posts}}
		    			{{> "loop-medium"}}
				    {{/foreach}}
				</div>
			</div>
            <div class="col-md-4">
                {{> "sidebar"}}
            </div>
		</div>
		<div class="row">
			<div class="col-md-8">
				{{pagination}}
			</div>
		</div>
	</div>

</main>