/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Normalize
    1.  General
    2.  Header
    3.  Inner Content
    4.  Pagination
    5.  Author
    6.  Tags
    7.  Share Selected Text
    8.  Subscribe
    9.  Footer
    10.  Responsive

*/

/* ==========================================================================
   0. Normalize
   ========================================================================== */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
figcaption, figure,
footer, header,
main, menu, nav,
section, summary { display:block; }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table{ border-collapse: collapse; border-spacing: 0; }
td, th{ padding: 0; }

/* ==========================================================================
   1. General
   ========================================================================== */

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
       url('../fonts/icons.woff') format('woff'),
       url('../fonts/icons.ttf') format('truetype'),
       url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background: rgba(0, 0, 0, 0.2);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

body{
    font-family: "sofia-pro", "Roboto", sans-serif;
    background: #f0f0f0;
    color: #3B3B3B;
    font-weight: 400;
}

a{
    color: #000000;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: #373737;
    text-decoration: none;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "ropa-soft-pro", sans-serif;
    color: #333333;
    margin: 30px 0;
    font-weight: 700;
}

blockquote{
    margin: 0;
    font-style: italic;
    position: relative;
}

blockquote:before{
    font-family: "icons";
    content: "\e907";
    width: 23px;
    position: absolute;
    font-style: normal;
    top: 0;
    left: -10px;
    height: 20px;
    color: #cccccc;
    z-index: 1;
}

blockquote p{
    z-index: 2;
    position: relative;
}

table{
    width: 100%;
    text-align: left;
    color: #646464;
    font-size: 20px;
    line-height: 30px;
}

table tr{
    border-bottom: 1px solid #F3F3F3;
}

table tr:last-child{
    border-bottom: none;
}

table th{
    color: #FF4400;
}

table td,
table th{
    height: 50px;
}

mark{
    background: #333333;
    color: #fff;
}

code{
    font-family: 'Fira Mono', monospace;
    background-color: #f1f1f1;
    display: inline-block;
    border: 1px solid #f1f1f1;
    padding: 0px 7px;
    margin: 1px 5px;
    font-size: 14px;
    line-height: 25px;
    white-space: pre;
    vertical-align: bottom;
    color: #333333;
}

pre{
    font-family: 'Fira Mono', monospace;
    background-color: #f1f1f1;
    display: block;
    border: 1px solid #cccccc;
    padding: 22px 25px;
    font-size: 14px;
    line-height: 25px;
    white-space: pre;
    color: #333333;
}

pre code{
    border: none;
}

p{
    color: #3B3B3B;
    font-size: 17px;
    margin: 20px 0;
    line-height: 25px;
}

ol, ul, dl{
    color: #646464;
    font-size: 17px;
    margin: 20px 0;
    line-height: 25px;
    padding-left: 20px;
}

hr{
    border: none;
    margin: 50px 0;
    height: 1px;
    background: #E7E7E7;
}

fieldset{
    border: 4px solid #F8F8F8;
}

form{
    color: #646464;
    font-size: 20px;
    line-height: 30px;
}

legend,
label{
    margin: 20px 0;
    display: block;
    padding: 0 15px;
}

textarea{
    border: 4px solid #F8F8F8;
    color: #FF5416;
    font-family: "sofia-pro", "Roboto", sans-serif;
    font-size: 20px;
    line-height: 30px;
    background: transparent;
    padding: 20px 25px;
    display: block;
    width: 100%;
    max-width: calc(100% - 60px);
    -webkit-transition: border 0.3s ease-in-out;
    -moz-transition: border 0.3s ease-in-out;
    -o-transition: border 0.3s ease-in-out;
    transition: border 0.3s ease-in-out;
}

input{
    border-radius: 2px;
    background-color: #CCCCCC;
    width: 100%;
    max-width: 475px;
    padding: 20px;
    color: #000;
    border: none;
    font-size: 14px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f1f1f1 inset;
}

input::-ms-clear {
    display: none;
}

.btn{
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    color: #949494;
    padding: 12px 15px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.05);
    border: 1px solid #949494;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background: #949494;
    color: #fff;
}

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading .blog-logo b,
.wf-loading .post-meta{
    visibility: hidden;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.no-opacity{
    opacity: 0;    
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

/* ==========================================================================
   2. Header
   ========================================================================== */

.read-more{
    color: #FB0007;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: auto;
}

.view-all{
    color: #0000BC;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 20px 6px 20px;
    vertical-align: baseline;
    margin-bottom: 15px;
}

h3.title{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    background-color: #0025C8;
    text-transform: uppercase;
    line-height: 26px;
    display: inline-block;
    padding: 5px 16px;
    font-weight: normal;
    margin: 0 0 15px 0;
}

.loop{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.post-card{
    background: #fff;
    position: relative;
    width: calc(50% - 15px);
    margin-bottom: 30px;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
}

.post-card .content{
    display: flex;
    width: 100%;
}

.post-card .content .content-holder{
    width: 50%;
    padding: 25px 25px 10px 25px;
    display: flex;
    flex-direction: column;
}

.post-card.no-image .content .content-holder{
    width: 100%;
}

.post-card .img-holder{
    width: 50%;
    display: flex;
    position: relative;
    height: calc(100% - 45px);
    overflow: hidden;
}

.post-card .img-holder a{
    display: flex;
    width: 100%;
}

.post-card .img-holder a span{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.post-card .img-holder:hover span{
    transform: scale(1.1);
}

.post-card .img-holder a span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,37,200,0) 0%, #0025C8 100%);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.post-card .content .content-holder h2{
    font-size: 30px;
    line-height: 35px;
}

.post-card .content .content-holder h2 a{
    color: #0000BC;
    display: block;
}

.post-card .content .content-holder h3{
    line-height: 26px;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.post-card .content .content-holder h3 a{
    color: #0000BC;
    display: block;
}

.post-card .content .content-holder p{
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 20px 0;
}

.post-card .content .content-holder time{
    color: #939393;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
}

.recent-slider{
    margin-bottom: 60px;
}

.recent-slider .post-card{
    width: 100%;
    margin-bottom: 0;
}

.recent-slider .swiper-wrapper .swiper-slide{
    /*flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/
}

.featured-slider{
    position: relative;
}

.featured-slider .post-card-big{
    margin-bottom: 0;
}

.swiper-wrapper{
    display: flex;
}

.swiper-wrapper .swiper-slide{
    height: auto;
    display: flex;
}

.swiper-button-next,
.swiper-button-prev{
    background-image: none;
    width: 38px;
    height: 38px;
    position: absolute;
    top: -13px;
    right: 0;
    border: 2px solid #0025C8;
    color: #0025C8;
    margin: 0;
    transform: translateY(-100%);
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev{
    right: 51px;
    left: auto;
}

.swiper-button-next i{
    margin-top: -2px;
    margin-right: -2px;
}

.swiper-button-prev i{
    margin-top: -2px;
    margin-left: -2px;
}

.post-card-big{
    width: 100%;
    text-align: left;
}

.post-card-big .img-holder{
    height: calc(100% - 65px);
}

.post-card-big .content .content-holder{
    padding: 56px 67px 25px 67px;
}

.post-card-big .content .content-holder h3{
    font-size: 30px;
    line-height: 35px;
    margin: 37px 0 40px;
}

.post-card-big .content .content-holder p{
    font-size: 17px;
    line-height: 25px;
}

.post-card-big .img-holder:hover span:before{
    opacity: 1;
}

.featured-navigation{
    list-style-type: none;
    margin: -5px 0 35px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.featured-navigation li{
    flex: 1;
    padding: 20px 63px 20px 0;
    font-size: 15px;
    line-height: 19px;
    color: #0000BC;
    cursor: pointer;
    margin-right: 2px;
    position: relative;
    font-family: "ropa-soft-pro", sans-serif;
}

.featured-navigation li:last-child{
    margin-right: 0;
}

.featured-navigation li.active{
    color: #CDCDCD;
}

.featured-navigation li:first-child:last-child{
    display: none;
}

.featured-navigation li:before,
.featured-navigation li:after{
    content: '';
    background-color: #0025C8;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-navigation li:after{
    width: 0;
    background-color: #FF0A00;
}

.featured-navigation li.active:after{
    -webkit-animation: fill 5s linear forwards;
    animation: fill 5s linear forwards;
}

.featured-navigation li.active:before{
    opacity: 0;
}

@-webkit-keyframes fill {
    0%   { width: 0; }
    100% { width: 100%; }
}
@keyframes fill {
    0%   { width: 0; }
    100% { width: 100%; }
}

.tags{
    font-size: 13px;
    font-weight: 900;
    line-height: 18px;
    font-family: "dienstag", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags li a:before{
    content: '#';
}

.post-card .img-holder .tags{
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
    width: 100%;
    text-transform: lowercase;
}

.post-card .img-holder .tags li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.post-card .img-holder .tags li a{
    color: #FFFFFF;
}

.post-card-small{
    width: 100%;
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
}

.post-card-small .content .content-holder{
    width: 100%;
    padding: 0;
}

.post-card .content .content-holder h4{
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 25px 0;
}

.post-card .content .content-holder h4 a{
    color: #0000BC;
}

.post-card .author-image{
    margin: 0;
    position: absolute;
    top: 109px;
    left: 0;
    width: 70px;
    height: 70px;
    transform: translateX(-50%);
    border-radius: 50%;
}

.post-card .author-image img{
    width: 100%;
    height: auto;
}

.loop-small{
    padding-left: 67px;
}

.loop-big .post-card-big .content .content-holder p{
    font-size: 14px;    
    line-height: 21px;
}

.loop-big .post-card .content .content-holder h2{
    font-size: 20px;    
    line-height: 26px;
    margin: 20px 0;
}

.loop-big .post-card .content .content-holder{
    width: 60%;
    padding-top: 32px;
}

.loop-big  .post-card .img-holder{
    width: 40%;
}

.widget{
    margin-bottom: 30px;
}

.widget h3{
    color: #FB0007;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    display: inline-block;
}

.widget ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget ul li{
    background: linear-gradient(0deg, #f0f0f0 0%, #f4f4f4 100%);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.82), 0 1px 1px 0 rgba(0,0,0,0.08);
    padding: 20px;
    margin: 0 0 1px 0;
    position: relative;
}

.most-viewed ul li p{
    color: #939393;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    display: block;
    margin: 0;
}

.most-viewed ul li a{
    line-height: 25px;
    font-size: 15px;
    color: #262626;
    font-family: "ropa-soft-pro", sans-serif;
    font-weight: normal;
    display: inline-block;
}

.most-viewed ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dsq-widget-list .dsq-widget-item .dsq-widget-user{
    pointer-events: none;
    cursor: text;
    display: block;
    color: #939393;
    font-size: 11px;
    line-height: 25px;
    font-weight: normal;
}

.latest-comments .dsq-widget-list .dsq-widget-item .dsq-widget-user:before{
    content: 'by ';
}

.dsq-widget-list .dsq-widget-item .dsq-widget-comment p{
    line-height: 19px;
    font-size: 15px;
    color: #262626;
    font-family: "ropa-soft-pro", sans-serif;
}

.dsq-widget-list .dsq-widget-item{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.latest-comments .dsq-widget-list .dsq-widget-item .dsq-widget-meta{
    font-size: 0;
    line-height: 1;
}

.latest-comments .dsq-widget-list .dsq-widget-item .dsq-widget-meta a:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dsq-widget-list .dsq-widget-item .dsq-widget-meta a:last-child{
    color: #939393;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
}

.popular-threads .dsq-widget-list .dsq-widget-item .dsq-widget-meta{
    color: #939393;
    font-size: 11px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    display: inline-block;
}

.popular-threads .dsq-widget-list .dsq-widget-item .dsq-widget-thread{
    line-height: 25px;
    font-size: 15px;
    color: #262626;
    font-family: "ropa-soft-pro", sans-serif;
    font-weight: normal;
}

.popular-threads .dsq-widget-list .dsq-widget-item .dsq-widget-thread:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top-authors.widget ul{
    background: linear-gradient(0deg, #f0f0f0 0%, #f4f4f4 100%);
    box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.82), 0 1px 1px 0 rgba(0,0,0,0.08);
    padding: 36px 30px 0 36px;
    margin: 0 0 1px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.top-authors.widget ul li{
    display: inline-block;
    box-shadow: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 33.33%;
    background: transparent;
    margin-bottom: 36px;
}

.top-authors.widget ul li figure{
    width: 100%;
    height: 60px;
    margin: 0;
    display: block;
    text-align: center;
}

.top-authors.widget ul li figure img{
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.top-authors.widget ul li a{
    font-size: 12px;    
    line-height: 15px;  
    text-align: center;
    color: #262626;
    display: block;
}

.top-authors.widget ul li a.no-img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    background: #d4d7cc;
    border-radius: 50%;
}

.top-authors.widget ul li a.link{
    margin-top: 7px;
}